{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>网络资产系统</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'web_source/css/main.css' %}" />
		<link rel="icon" sizes="any" mask href="{% static 'web_source/images/favicon.ico' %}">
	</head>

	<body class="is-preload container-fluid">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
								{% block mainbody %}
								
								{% endblock %}
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								<section id="searchq" class="alt">
									<form method="post" action="#" >
										<input type="text" name="query" value="当前登录：{{user.username}}"/>
									</form>
									
								</section>
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>菜单</h2>
									</header>
									<ul>
										<li><a href="{% url 'web_source:index' %}">首页</a></li>
										<li><a href="{% url 'admin:index' %}">基础数据</a></li>
										<li><a href="{% url 'web_source:searchip' %}">定位IP</a></li>
										<li><a href="{% url 'web_source:map' %}" target="_blank">网络资源地图</a></li>
										<li><a href="{% url 'web_source:map_online' %}">光纤走向地图</a></li>
										<li><a href="#">网络连接地图</a></li>
										<li><a href="#">系统资源信息</a></li>
										<li><a href="#">特殊IP信息</a></li>
										<li><a href="#">大事记</a></li>
										<li><a href="#">工作任务</a></li>
										<li><a href="#">工作日志</a></li>
									</ul>
								</nav>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; XXJXSZ All rights reserved. </p>
									<p class="copyright">WEBSITE: <a href="https://yit.ysu.edu.cn">YIT</a>.</p>
									<p class="copyright">Design: wyude.</p>
								</footer>
						</div>
					</div>			</div>

		<!-- Scripts -->
			<!--link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"-->
			<link rel="stylesheet" href="{% static 'web_source/css/bootstrap.min.css' %}">
			<script src="{% static 'web_source/js/jquery.min.js' %}"></script>
			<!-- Javascript -->
			{% block mainscript %}
			{% endblock %}
			<script src="{% static 'web_source/js/browser.min.js' %}"></script>
			<script src="{% static 'web_source/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'web_source/js/util.js' %}"></script>
			<script src="{% static 'web_source/js/main.js' %}"></script>
		
	</body>
</html>