{% extends "base.html" %}
{% load static %}
{% block mainbody %}
<!-- Banner -->
<!-- Header -->
<header id="header">
	<h2><strong>资产统计</strong></h2>
</header>
<!-- Section -->
<style type="text/css">
	section article li p{display: inline;}
</style>
<section>
	<div class="posts">
		<article>
			<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
			<h3>弱电间</h3>
			<li>总数：<p>{{data.num_rooms}}</p><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[弱电间：<p>{{data.num_rooms_j}}</p>&nbsp;&nbsp;弱电机柜：<p>{{data.num_rooms_g}}</p>]</li>
			<li>汇聚：<p>{{data.num_rooms_hj}}</p></li>
			<li>重点：<p>{{data.num_rooms_zd}}</p></li>
			<li>核心：<p>{{data.num_rooms_hx}}</p></li>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
			<h3>信息点位</h3>
			<li>有线：<p>{{data.num_wired}}</p></li>
			<li>无线：<p>{{data.num_wireless}}</p></li>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
			<h3>设备</h3>
			<li>交换机：<p>{{data.num_devices_jhj}}</p></li>
			<li>AM：<p>{{data.num_devices_am}}</p></li>
			<li>AC：<p>{{data.num_devices_ac}}</p></li>
			<li>防火墙：<p>{{data.num_devices_fhq}}</p></li>
			<li>核心：<p>{{data.num_devices_hx}}</p></li>
			<li>路由：<p>{{data.num_devices_ly}}</p></li>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
			<h3>带宽</h3>
			{% for dki in data.dk %}
			<li>{{dki.name}}：<p>{{dki.num}}G</p></li>
			{% endfor %}
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
			<h3>主光纤链路</h3>
			<li>距离：<p>{{data.num_long}}千米</p></li>
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
			<h3>负载</h3>
			{% for fzi in data.fz %}
			<li>{{fzi.name}}：<p>{{fzi.num}}</p></li>
			{% endfor %}
		</article>
		<article>
			<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
			<h3>机房信息</h3>
			<li>面积东：<p>{{data.area_d}}平方米</p></li>
			<li>面积西：<p>{{data.area_x}}平方米</p></li>
			<li>ups东：<p>{{data.ups_d}}小时</p></li>
			<li>ups西：<p>{{data.ups_x}}小时</p></li>
		</article>
		<article></article>
		<article></article>
	</div>
</section>
{% endblock %}

{% block mainscript %}
{% endblock %}
